.pattern {
  background-color: #4ea0ff;
  width: 110%;
  height: 170px;
  background-image: url("/img/pattern.png");
  background-repeat: repeat-x;
  background-position: top;
  background-size: auto;
  margin-top: -30px;
  margin-left: -10px;
}
.logo {
  width: 250px;
  height: 240px;
}

.title {
  font-size: 50px;
  margin-top: -50px;
}

.subtitle {
  font-size: 20px;
  margin-top: -30px;
}
.opacity {
  opacity: 0.5;
}
.text-color {
  color: #4ea0ff;
}
.img1 {
  margin-left: auto;
  margin-right: auto;
  width: 53%;
}
.img2 {
  margin-left: auto;
  margin-right: auto;
  width: 46%;
}
.highlighted {
  background-color: #e5ff00;
}
.site_main {
  width: 75%;
  margin: auto;
}
