.pattern {
  background-color: #4ea0ff;
  width: 110%;
  height: 170px;
  background-image: url("/img/pattern.png");
  background-repeat: repeat-x;
  background-position: top;
  background-size: auto;
  margin-top: -30px;
  margin-left: -10px;
}
.logo {
  width: 250px;
  height: 240px;
}

.site_main {
  width: 75%;
  margin: auto;
}
